@media (min-width: 992px) {
	.canvas_open {
		display: none;
	}
	 
}
@media (max-width: 991px) {
	.counter-item {
		margin-bottom: 30px;
	}
	.menu {
		display: none;
	}
	.header-bottom {
		padding: 20px 0px;
	}
	.canvas_open {
		text-align: right;
		float: right;
	}
	.about-info {
		margin-top: 30px;
	}
	.section-banner-1-img {
		margin-top: 30px;
	}
	.subscribe-social ul li a i {
		width: 50px;
		height: 50px;
	}
	.appointment-form {
		margin-top: 30px;
		max-width: 500px;
	}
	.our-mission-content {
		margin-top: 30px;
	}
	.counter-up-content {
		margin-bottom: 30px;
	}
	.contact-info {
		margin-bottom: 30px;
	}
	.blog-pagination {
		margin-bottom: 40px;
	}
 
}
@media (max-width: 767px) {
	.search-form-full form {
		width: 100%;
	}
	.search-form-full {
		width: 96%;
	}
	.header-top-left {
		text-align: center;
		margin-bottom: 10px;
	}
	.top-social {
		text-align: center;
	}
	.hero-slider-single-caption h2 {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 20px;
	}
	.section-padding-100 {
		padding: 70px 0px;
	}
	.section-padding-2 {
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.section-banner-1-content h2 {
		font-size: 30px;
		margin-bottom: 15px;
		line-height: 30px;
	}
	.counter-up-content h2 {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 10px;
	}
	.subscribe-form {
		margin-bottom: 30px;
	}
	.hero-area-2-caption h2 {
		font-size: 35px;
		line-height: 34px;
		margin-bottom: 10px;
	}
 
}
@media (max-width: 576px) {
	.hero-slider-single-caption {
		padding-top: 130px;
		padding-bottom: 100px;
	}
	.hero-slider-single-caption h2 {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 15px;
	}
	.section-padding-100 {
		padding: 50px 0px;
	}
	.about-info h3 {
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 4px;
	}
	.section-padding-2 {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.section-banner-1-img img {
		width: 85%;
	}
	.hero-area-2-caption h2 {
		font-size: 26px;
		line-height: 28px;
	}
	.about-resources-img img {
		width: 80%;
	}
	.about-resources-content h3 {
		font-size: 28px;
		line-height: 32px;
	}
	.breadcrumb-area {
		padding: 50px 0px;
	}
	.breadcrumb-content h4 {
		font-size: 32px;
	}
	.services-details h2 {
		font-size: 20px;
		line-height: 28px;
		text-align: left;
	}
	.portfolio-details h2 {
		font-size: 19px;
		line-height: 25px;
	}
	.blog-details-full-top p.active {
		padding: 10px 10px;
		font-size: 16px;
	}
	.blog-details-full-top h2 {
		font-size: 22px;
	}
 
}
@media (max-width: 460px) {
	.hero-slider-single-caption a:first-child {
		margin-right: 4px;
	}
	.hero-slider-single-caption .hero-btn a {
		margin-bottom: 10px;
	}
	.hero-slider-single-caption .hero-btn a {
		margin-bottom: 10px;
		font-size: 14px;
		padding: 20px 30px;
	}
	.section-banner-1-content h2 {
		font-size: 24px;
	}
	.section-banner-1-content .btn a {
		margin-bottom: 10px;
	}
	.blog-comments-list ul li.single-comment {
		padding-left: 0px;
	}
	.blog-comments-list ul li.single-comment img {
		position: inherit;
		margin-bottom: 6px;
	}

 
}
@media (max-width: 400px) {
	.tab-item-single-content .single .content {
		width: 100%;
	}
 
}